/* .App {
  font-family: poppins;
  text-align: center;
}
.calendar-app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  margin: 0;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-event-button {
  background-color: #dd296f;
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

.calendar-container {
  padding: 20px;
  background-color: #F2F6F8;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  font-weight: bold;
  text-align: center;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.day-number {
  font-size: 18px;
  font-weight: bold;
}

.blank {
  height: 50px; 
}

.day-container {
  border: 1px solid #ddd;
  padding: 15px;
  position: relative;
  min-height: 25px;
  min-width: 25px;
}

.day-number {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 18px;
}

.event-container {
  position: absolute;
  top: 25px;
  right: 8px;
  left: 2px;
}

.event {
  background-color: #dd296f;
  opacity: 80%;
  padding: 0px 7px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 11px;
  width: 80%;
}

.event:hover {
  background-color: #e0e0e0;
}

.event-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
}

.event-details h3 {
  margin-top: 0;
}

.event-details p {
  margin: 10px 0;
}

.event-details button {
  margin-right: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal-buttons button {
  margin-left: 10px;
}

 */

/* CalendarApp.css */
