@import 'theme.css';

.app {
  /* not able to add Poppins font */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--shade-of-white);
  color: var(--base-text-color)
}

.calendar-app {
  /* as per requirement */
  max-width: 1240px;
  margin: 0 auto;
  background-color: var(--shade-of-white);
}
.calendar-outer-container {
  background-color: var(--background);
  padding: 20px 50px;
  box-shadow: inset 0px 15px 10px -15px #ebebeb;
}
.calendar-container {
  background-color: var(--shade-of-white);
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--shade-of-white);
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.add-event-button {
  background-color: var(--primary-color);
  color: var(--default-white);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.add-event-button:hover {
  background-color: var(--secondary-color);
}

.month-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  padding: 20px;
}

.arrow-button {
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  margin: 0 10px;
}

.arrow-button:hover {
  color: var(--secondary-color);
}

.calendar {
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  font-weight: bold;
  text-align: center;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin: 10px 0;
}

.day-container {
  display: flex;
  flex-direction: column;
  background-color: var(--default-white);
  border: 1px solid var(--text-input-border-color);
  padding: 10px;
  /* as per requirement */
  /* border-radius: 8px; --> this is not matching with given mockups */ 
  min-height: 80px;
  min-width: 80px;
}

.day-number {
  font-size: 18px;
  font-weight: bold;
}

.blank {
  height: 50px; /* Adjust the height as needed */
}

.event {
  background-color: var(--primary-color);;
  opacity: 80%;
  padding: 4px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 11px;
  width: 90%;
  white-space: nowrap;
}

.event:not(:last-child) {
  margin-bottom: 5px;
}
